# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem
