<p>Hello! {{inviter}} has invited you to sign up for a shared shopping list application
    so that they can share the following list with you: {{shoppingList}}.</p>
<p>Click the link below to sign up and starting sharing lists.</p>
<p>
    <a href="{{ url }}">Accept Invite</a>
</p>
